.address-main {
  margin: 10px;
  height: 100%;
}

.add-address-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 400px;
  padding: 10px;
  margin-left: 0;
  border-radius: 10px;
}
.delete-address-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px;
  margin-left: 50px;
  width: 50%;
}
.delete-address-button:hover {
  background-color: hsl(0, 0%, 80%);
}
.delete-address-button:active {
  background-color: hsl(0, 0%, 70%);
}
.delete-address-button i {
  padding-right: 10px;
}
.add-address-button:hover {
  background-color: hsl(0, 0%, 80%);
}
.add-address-button:active {
  background-color: hsl(0, 0%, 60%);
}
/* Add New Address Modal css*/
.modal-header {
  background-color: var(--background-color);
}
.address-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  width: 90%;
}
.address-form div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.address-form label {
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}
.address-form input {
  border: none;
  background-color: bisque;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  width: 70%;
  outline: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.address-form span {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-right: 30px;
}
.address-form input.set-default-radio {
  box-shadow: none;
  margin-right: 5px;
}
.address-form label.radio-label {
  display: flex;
  margin-right: 20px;
}

.address-line-main {
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: #e9e8e8;
  margin: 10px;
  margin-right: 0;
  width: 350px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.address-name-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}
.address-name-line :first-child {
  display: flex;
  padding-left: 5px;
  margin: 0;
  width: 200px;
  font-size: 20px;
}
.address-name-line span {
  color: grey;
}
.address-name-line button {
  margin: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: blue;
}
.address-name-line button:hover {
  background-color: var(--background-color);
  border-radius: 50%;
  padding: 5px;
}
.address-name-line button:active {
  background-color: hsl(39, 90%, 70%);
  border-radius: 50%;
  padding: 5px;
}
.address-line {
  padding: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
}
.address-line p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 5px;
  width: 250px;
}
.address-line span {
  background-color: rgb(182, 182, 182);
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  border-radius: 10px;
}

.change-Address-Modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}
.select-address {
  display: flex;
}
.select-address button {
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  border: none;
  background-color: var(--background-color);
  border-radius: 0 10px 10px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.select-address button:hover {
  background-color: hsl(39, 90%, 45%);
}
.select-address button:active {
  background-color: hsl(39, 90%, 40%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
