.main--products {
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.main-cart {
  flex-flow: column nowrap;
}

.cart {
  padding: 0;
  margin-top: 0.5em;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr 2fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5em;
}

.cart-img {
  display: none;
  min-width: 68px;
  max-width: 100px;
}

.cart-select {
  max-height: 48px;
  border: none;
  border-radius: 5px;
}

.cart-item-subtotal {
  display: none;
  text-align: center;
}
.cart-submit {
  padding: 5px;
  border: none;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
}
.cart-submit:hover {
  background-color: hsl(39, 90%, 60%);
}
.cart-submit:active {
  background-color: hsl(39, 90%, 40%);
}
.cart-submit:disabled {
  background-color: hsl(0, 0%, 70%);
}
.cart-button {
  max-height: 48px;
  border: none;
  padding: 5px;
  border-radius: 5px;

  background-color: red;
  color: rgb(255, 255, 255);
  justify-self: flex-end;
}

.cart-totals {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

@media screen and (min-width: 768px) {
  .product {
    width: 30%;
  }

  .cart-item {
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr 2fr 1fr;
  }

  .cart-img,
  .cart-item-subtotal {
    display: block;
  }

  .cart-submit {
    max-width: 300px;
  }
}

.round-checkbox {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.round-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.round-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #333;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.round-checkbox input:checked + .checkmark {
  background-color: var(--background-color);
}

.round-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.round-checkbox input:checked + .checkmark::after {
  display: block;
}

.round-checkbox .checkmark::after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
