.cpwd-body {
  margin: 10px;
  height: 65vh;
}

.change-password-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  max-width: 350px;
}
.preview-pwd {
  position: relative;
  width: 300px;
  border: none;
  background-color: hsl(0, 0%, 90%);
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
}

.change-password-form label {
  font-family: sans-serif;
  font-style: bold;
  font-size: 15px;
  padding: 5px;
}

.change-pwd-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.208);
  border-radius: 10px;
}

.change-pwd-input input {
  position: relative;
  width: 300px;
  border: none;
  background-color: hsl(0, 0%, 90%);
  border-radius: 10px 0 0 10px;
  padding: 5px;
  padding-left: 10px;
}

.change-pwd-input span {
  position: relative;
  z-index: 3;
  padding: 5px;
}

.cpwd-button {
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: var(--background-color);
  margin-left: 10px;
  margin-top: 20px;
  font-family: Inter, Roboto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.cpwd-button:hover {
  background-color: hsl(39, 90%, 45%);
  color: hsl(0, 0%, 20%);
}
.cpwd-button:active {
  background-color: hsl(39, 90%, 40%);
  color: hsl(0, 0%, 20%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.cancel-confirm-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}
.cpwd-button-cancel {
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: var(--root-background-color);

  margin-top: 20px;
  font-family: Inter, Roboto;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.cpwd-button-cancel:hover {
  background-color: hsla(0, 0%, 65%, 0.4);
}
.cpwd-button-cancel:active {
  background-color: hsla(0, 0%, 60%, 0.5);
}

.set-password-p {
  text-indent: 2rem;
  width: 450px;
  margin: 10px;
}
