.firebaseLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 280px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  animation: slideUp 1s ease-out forwards;
}

.firebase-login-icon {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3c/Google_Favicon_2025.svg);
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.firebaseLogin:hover {
  background-color: hsl(0, 0%, 90%);
}
.firebaseLogin:active {
  background-color: hsl(0, 0%, 80%);
}
