
.footer{
    display: flex;
    flex-direction: column;
    background-color: #BF8756;
    position: static;
    width: 100%;
    height: 15%;
    margin: 0;
    padding-left: 30px;
    padding-top: 20px;
}

.footer a{
    text-decoration: none;
    color: white
}
address{
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 15px;
}
.copyrights{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.copyrights p{
    font-size: 15px;
    padding: 0;
    margin: 0;
}