.header {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.header-section {
  position: relative;
  display: flex;
  align-items: center;
  background-color: orange;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  min-height: 50px;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 1rem;
}
.header-title h2 {
  margin-right: clamp(15px, 3.5vw, 50px);
  font-size: clamp(8px, 3.5vw, 35px);
}
.header-title button {
  border: none;
  background-color: transparent;
  padding: 5px;
}
.header-title button:hover {
  background-color: rgba(217, 255, 0, 0.507);
  border-radius: 100%;
}
.search-bar {
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  padding: 10px 17px;
  width: 35vw;
  height: 2rem;
  font-family: "Times New Roman", Times, serif;
}
.search-bar:hover,
.search-bar:focus {
  background-color: hsl(0, 0%, 80%);
}
.search-bar-form {
  display: inline-block;
  position: relative;
}
.input-bar {
  display: flex;
  align-items: center;
}

.Login {
  font-size: clamp(8px, 3.5vw, 13px);
  text-decoration: none;
  margin: 10px;
}
.shopping-cart {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.cart-wrapper {
  position: relative;
  background-color: transparent;
  border: none;
  display: inline-block;
  margin-left: 10px;
}

.count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.user {
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.searchImg {
  width: 80px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchResult {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsl(0, 0%, 90%);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.25s ease;
  z-index: 1000;
}

.searchResult.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.searchResult section {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.searchResult section:hover {
  background-color: hsl(0, 0%, 85%);
}
