

.header{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 10%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.header-section{
    position: relative;
    display: flex;
    align-items: center;
    background-color: orange;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    min-height: 50px;
}
.header-title{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1rem;
}
.header-title h2{
    margin-right: 50px;
}
.header-title button{
    border: none;
    background-color: transparent;
    padding: 5px;
}
.header-title button:hover{
    background-color: rgba(217, 255, 0, 0.507);
    border-radius: 100%;
}
.search-bar{
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    padding: 10px 17px;
    width: 40vw;
    height: 2rem;
    font-family:'Times New Roman', Times, serif;
}
.search-bar:hover, .search-bar:focus{
    background-color: hsl(0, 0%, 80%);
}
.search-bar-form{
    display: flex;
    align-items: center;
}

.Login{
    font-size: 13px;
    text-decoration: none;
    margin: 10px;
}
.shopping-cart {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.cart-wrapper {
  position: relative; 
  background-color: transparent;
  border: none;
  display: inline-block;
}

.count {
  position: absolute;
  top: -8px;    
  right: -8px;  
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; 
}