.slider {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: 70% 30%;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.dots span.active {
  background: white;
}