@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.product-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .product-description {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-details h3 {
    display: flex;
    justify-content: center;
  }
}
.prodImg {
  width: 400px;
}
.product-phase {
  font-family: "Poppins", "san-serif";
  margin: 20px;
  padding-top: 20px;
}

.price {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
}
.product-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-family: "Poppins", "san-serif";
}
.product-details p {
  text-indent: 40px;
}
.product-details h3,
.product-details h4 {
  padding: 5px;
  font-weight: 600;
}
