.profile-main {
  margin: 10px;
  padding: 5px;
  max-width: 650px;
}
.profile-picture {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  border-radius: 100%;
}

.profile-form-div {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 400px;
  padding-top: 15px;
}
.profile-form-div section {
  display: flex;

  width: 300px;
}

.profile-form label {
  padding: 5px;
  font-size: 15px;
  width: 100px;
}

.profile-form input {
  border-radius: 10px;
  padding: 5px;
  border: 1px solid;
  font-size: 15px;
  padding-left: 10px;
  width: clamp(150px, 50vw, 200px);
  color: black;
  background-color: #ebebeb94;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
}
.profile-form input:disabled {
  border: 1px solid rgb(168, 168, 168);
  color: grey;
}

.gender-main,
.date-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}
.gender-main label,
.date-main label {
  width: 100px;
  padding: 10px;
}
.gender {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100px;
}
.gender input {
  background-color: none;
  box-shadow: none;
  width: 20%;
}

.date-main input {
  border: none;
  cursor: text;
}
.date-main input:disabled {
  cursor: auto;
  outline: none;
}

.button-Edit,
.button-Submit {
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: var(--background-color);
  margin-left: 10px;
  width: 80px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.button-Edit:hover,
.button-Submit:hover {
  background-color: hsl(39, 90%, 60%);
  color: hsl(0, 0%, 20%);
}
.button-Edit:active,
.button-Submit:active {
  background-color: hsl(39, 90%, 70%);
  color: hsl(0, 0%, 20%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.button-cancel-submit {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.button-Cancel {
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: hsl(0, 0%, 80%);
  margin-left: 10px;
  width: 80px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.button-Cancel:hover {
  background-color: hsl(0, 0%, 85%);
}
.button-Cancel:active {
  background-color: hsl(0, 0%, 90%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.button-upload-image {
  border: none;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 88%);
}
.button-upload-image:hover {
  background-color: hsl(0, 0%, 80%);
}
.button-upload-image:active {
  background-color: hsl(0, 0%, 70%);
}
.button-upload-image:disabled {
  background-color: hsl(0, 0%, 88%);
  color: grey;
}
