@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background-color: hsl(39, 90%, 50%);
  --root-backgroud-color: #262626;
  --text-color: rgba(0, 0, 0, 0.767);
}

.register-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100vh;
}
.register-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--root-backgroud-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  color: white;
  height: 80vh;
  width: 40%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 0 20px 20px 0;
}
.register-title {
  display: flex;
  align-items: flex-start;
  width: 250px;
  font-size: 45px;
  margin-right: 20px;
  margin-bottom: 40px;
  animation: slideUp 1s ease-out forwards;
}
.error-message {
  color: hsl(0, 79%, 53%);
  animation: slideUp 0.5s ease-out forwards;
}
.register-form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transform: translateX(10px);
  animation: slideUp 1s ease-out forwards;
}
.register-form div {
  display: flex;
  align-items: center;
  margin: 10px;
  width: clamp(200px, 80vw, 250px);
  padding-top: 15px;
}
.register-form input {
  position: relative;
  background-color: white;
  border: 2px solid white;
  width: 100%;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  outline: none;
  z-index: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.register-form label {
  position: absolute;
  color: black;
  z-index: 2;
  font-size: 15px;
  padding-left: 5px;
  transition: 0.2s ease;
  cursor: text;
}
.register-form span {
  position: absolute;
  z-index: 3;
}
.register-form input:focus {
  border: 3px solid var(--background-color);
}
.register-form input:focus + label,
.register-form input:valid + label {
  color: white;
  transform: translate(-10px, -25px) scale(0.88);
}

.register-form .toggle-password {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(-25px);
  width: 100%;
  cursor: pointer;
  color: #555;
  z-index: 4;
}
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  transform: translateX(-15px);
}
.button-signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  background-color: var(--background-color);
  margin: 10px;
}
.button-signUp:hover {
  background-color: hsl(39, 90%, 45%);
}
.button-signUp:active {
  background-color: hsl(39, 90%, 40%);
}

@media (max-width: 768px) {
  .ads-section {
    display: none;
  }
  .register-section {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }
  .register-title {
    display: flex;
    margin-left: 0;
    padding: 0;
  }
}
