@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.toast-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  font-size: 15px;
  font-family: sans-serif;
  transform: translateX(-50%);
  padding: 12px 20px;
  border-radius: 15px;
  background-color: white;
  color: rgb(2, 2, 2);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  animation: slideDown 0.3s ease;
  font-weight: 500;
  min-width: 200px;
  text-align: center;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
