@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

:root {
  --background-color: hsl(39, 90%, 50%);
  --root-background-color: hsla(0, 0%, 70%, 0.227);
  --text-color: black;
}
body {
  background-color: #f2f2f2;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
html {
  font-size: clamp(14px, 3.5vw, 18px);
}

.spinner {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  justify-content: center;
  cursor: pointer;
}
.product h4 {
  display: flex;
  justify-content: center;
}
.product p {
  display: flex;
  justify-content: center;
}

.product__img {
  max-width: 350px;
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.4));
}
.product__img:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}
.offscreen {
  position: absolute;
  left: -10000px;
}
.main {
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.QTY-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  margin-left: 20px;
}
.QTY-label {
  font-size: 16px;
  color: #2b4a7f;
}
.QTY-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.QTY-box button {
  margin: 0;
}
.QTY-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
}

.QTY-number {
  width: 30px;
  text-align: center;
  font-size: 16px;
}

.button-add-to-cart {
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  background-color: var(--background-color);
  margin: 10px;
}
.button-add-to-cart:hover {
  background-color: hsl(39, 90%, 45%);
}
.button-add-to-cart:active {
  background-color: hsl(39, 90%, 40%);
}

.profile-layout {
  display: flex;
  height: 100%;
}

.profile-body {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.modal {
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
