* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

:root {
  --background-color: hsl(39, 90%, 50%);
  --text-color: black;
}
body {
  background-color: #f2f2f2;
}
.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
html {
  font-size: clamp(14px, 3.5vw, 18px);
}

.spinner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.product {
  margin-bottom: 1em;
}
.product h3 {
  display: flex;
  justify-content: center;
}
.product p,
.product button {
  margin-left: 20px;
}

.product__img {
  max-width: 350px;
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.4));
}
.product__img:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}
.offscreen {
  position: absolute;
  left: -10000px;
}
.main {
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.main--products {
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.button-add-to-cart {
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  background-color: var(--background-color);
}
.button-add-to-cart:hover {
  background-color: hsl(39, 90%, 45%);
}
.button-add-to-cart:active {
  background-color: hsl(39, 90%, 40%);
}

.main-cart {
  flex-flow: column nowrap;
}

.cart {
  padding: 0;
  margin-top: 0.5em;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 3fr 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 0.5em;
}

.cart-img {
  display: none;
  min-width: 68px;
  max-width: 100px;
}

.cart-select {
  max-height: 48px;
}

.cart-item-subtotal {
  display: none;
  text-align: center;
}
.cart-submit {
  padding: 5px;
  border: none;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
}
.cart-button {
  max-height: 48px;
  border: none;
  padding: 5px;
  border-radius: 5px;

  background-color: red;
  color: rgb(255, 255, 255);
  justify-self: flex-end;
}

.cart-totals {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

@media screen and (min-width: 768px) {
  .product {
    width: 30%;
  }

  .cart-item {
    grid-template-columns: 3fr 15fr 5fr 1fr 8fr 1fr;
  }

  .cart-img,
  .cart-item-subtotal {
    display: block;
  }

  .cart-submit {
    max-width: 300px;
  }
}

.QTY-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  margin-left: 20px;
}
.QTY-label {
  font-size: 16px;
  color: #2b4a7f;
}
.QTY-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}
.QTY-box button {
  margin: 0;
}
.QTY-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
}

.QTY-number {
  width: 30px;
  text-align: center;
  font-size: 16px;
}
